body{
    background-image: url(/img/festival.jpg);
    font-family: monospace;
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
}

/******************TITULO DE LA PÃGINA******************/
    h1{
        text-align: center;
        font-size: 80px;
        color: white;
        text-shadow: black 5px 5px 5px;
    }

/*********************GRID*****************************/
    .grid-container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 32% auto;
        grid-gap: 10px;
        padding: 10px;
    }
    .grid-container > div {
        background-color: white;
        border: 1px solid rgb(216, 216, 216);
        padding: 20px 0;
        font-size: 20px;
    }

/***********************HEADER***********************/
    .header{
        justify-items: center;
        padding: 10px;
        justify-content: space-between;
        flex-direction: column;
        display: grid;
        grid-template-columns: auto ;
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
    }
    .header div{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin: 5px;
        text-align: justify;
        display: flex;
    }
    .header div div{
        padding-left: 5%;
        padding-right: 5%;
        flex-direction: column;
    }
    .header div img{
        width: 550px;
    }
    hr{
        border: solid 1px rgb(184, 184, 184);
        background-color: rgb(184, 184, 184);
        width: 95%;    
    }

/*******************IMAGEN*******************/
    #img{
        width: 100%;
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

/*****************OCULTO********************/
    #oculto{
        display: none;
    }

/*********************MAIN*******************/
    .main{
        background-image: url(/img/bgMain.jpg);
        grid-column: 2 / span 1;
        grid-row: 2 / span 2;
        flex-wrap: wrap;
        justify-content: space-around;
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .main h2{
        text-align: center;
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;
    }
    .card{
        border: 3px solid grey;
        width: 250px;
        height: 250px;
        margin-bottom: 20px;
        position: relative;
        text-align: center;
    }
    .card img{
        width: 100%;
        height: 100%;
    }    
    .card p{
        position: absolute;
        bottom: 10px;
        width: 100%;
        font-weight: bold;
        color: white;
        font-size: 20px;
        opacity: 0;
    }
    .main div {
        background: #000000;
    }
    .main img  {
        opacity: 1;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    .main img:hover {
        opacity: .4;
    }
    .main img:hover+p{
        opacity: 1;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

/******************FIN DEL GRID AREA (MAIN)********************/


/*******************CAROUSEL******************/
    @keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
  }
  
  .carousel__slide:nth-child(even) {
    background-color: #99f;
  }
  
  .carousel__slide:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }

  /**********************IMAGENES CAROUSEL***********************/
  #carousel__slide1{
    background-image: url(/img/Carousel/Daydream-2.jpg);
    background-size: cover;
    background-position: center;
  }
  #carousel__slide2{
    background-image: url(/img/Carousel/djset.jpg);
    background-size: cover;
    background-position: center;
  }
  #carousel__slide3{
    background-image: url(/img/Carousel/daydream.jpg);
    background-size: cover;
    background-position: center;
  }
  #carousel__slide4{
    background-image: url(/img/Carousel/images.jfif);
    background-size: cover;
    background-position: center;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 35%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
/*******************FIN CAROUSEL***********************/

/*******************MEDIA QUERY***********************/
@media screen and (max-width: 1300px) {
    .header div{
        flex-direction: column;
    }
    .header iframe{
        width: 600px;
        margin: auto;
    }
    .header img{
        margin: auto;
    }
    .header div div{
        margin: auto;
        padding: 0%;
        text-align: center;
    }
    .main{
        grid-row: 3 / span 2;
        grid-column: 1 / span 2;
    }
    .card{
        width: 300px;
        height: 300px;
    }
    .carousel {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
    }
    .grid-container {
        grid-template-columns: 40% auto;
    }
}
@media screen and (max-width: 1100px) {
    .grid-container {
        grid-template-columns: 50% 50%;
    }
    .header{
        grid-column: 1 / span 2;
    }
    .main{
        display: grid;
        grid-template-columns: auto auto;
        grid-column: 1 / span 2;
        grid-row: 4 / span 1;
    }
    .main h2{
        grid-column: 1 / span 2;
    }
    .card{
        width: 350px;
        height: 350px;
    }
    #img{
        height: 100%;
        width: 100%;
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    .carousel {
        width: 100%;
        grid-row: 3 / span 1;
        grid-column: 1 / span 2;
    }
    #oculto{
        width: 100%;
        display: block;
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
    }
}
@media screen and (max-width: 900px) {
    .main{
        grid-template-columns: auto;
    }
    .main h2{
        grid-column: 1 / span 1;
    }
    .card{
        margin: auto;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 700px) {
    .grid-container {
        grid-template-columns: auto;
    }
    .header{
        grid-column: 1 / span 1;
    }
    .header iframe{
        width: 100%;
    }
    .header div img{
        width: 100%;
    }
    #oculto{
        display: none;
    }
    .carousel {
        width: 100%;
        grid-column: 1 / span 1;
    }
    .main{
        grid-column: 1 / span 1;
    }
}