body{
    background-image: url(/img/festival.jpg);
    font-family: monospace;
}


/*AQUI VA EL MENU*/


/*TITULO DE LA PÃGINA*/
h1{
    text-align: center;
    font-size: 50px;
    color: white;
}

/*GRID*/
.grid-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 32% auto;
    grid-gap: 10px;
    padding: 10px;
}
.grid-container > div {
    background-color: white;
    border: 1px solid rgb(216, 216, 216);
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}

/*HEADER*/
#header{
    padding: 10px;
    justify-content: space-between;
    text-align: start;
    display: grid;
    grid-template-columns: auto auto;
    /*grid-area: 1 / 1 / 1 / 1 ;*/
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}
#header div{
    width: 80%;
}
#header img{
    width: 500px;
}

/*MENU*/
#img{
    /*grid-area: 3 / 1 / 3 / 1;*/
    width: 100%;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

/*MAIN*/
#main{
    /*grid-area: 2 / 2 / 2 / 3;*/
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

}
.card{
    border: 1px solid grey;
}
